@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-hero {
  background: linear-gradient(
      to right,
      rgb(239, 68, 68, 0.4),
      rgb(239, 68, 68, 0.4)
    ),
    url("https://segafredojo.com/cdn/shop/collections/1L4A7696.jpg?v=1623919964&width=2000");
  background-attachment: fixed;
}

body {
  /* font-family: "Roboto Slab", serif; */
  font-family: "Oswald", sans-serif;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;

  @apply bg-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-red-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
